.navbar, .navbarInverted, .navbarBlurred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 9;
}

@media (min-width: 640px) {
  .navbar, .navbarInverted, .navbarBlurred {
    height: 6em;
  }
}

.navbarInverted {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.navbarBlurred {
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbrand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5%;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: -5px;
}

@media (min-width: 640px) {
  .navbrand {
    padding: 0 10%;
  }
}

.navbrand a {
  cursor: pointer;
  white-space: nowrap;
}

.navitems, .navitemsInverted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 5%;
}

@media (min-width: 640px) {
  .navitems, .navitemsInverted {
    padding: 0 10%;
  }
}

.navitems .navcollapse, .navitemsInverted .navcollapse {
  cursor: pointer;
  height: 20px;
  width: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navitems a, .navitemsInverted a {
  display: inline;
  cursor: pointer;
  padding: 1.5em 0.5em;
  margin: 0.5em 1em;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 500;
  color: inherit;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navitems a:hover, .navitemsInverted a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid white;
}

.navitemsInverted a:hover {
  border-bottom: 2px solid black;
}

.smallscreenitems {
  position: absolute;
  top: 6em;
  width: 100%;
  height: 90vh;
  background-color: white;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  z-index: 100;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallscreenitems a {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 2em;
  cursor: pointer;
  z-index: 20;
  color: black;
}

.navitemsSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: whitesmoke;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 30;
  top: 0;
  right: 0;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 100vh;
  -webkit-box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.navitemsSmall a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 2px solid #e6e6e6;
  padding: 25px 10%;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
}

.navitemsSmall a:active {
  background-color: white;
}

.navCloseBtn {
  border-radius: 100px;
  cursor: pointer;
}
/*# sourceMappingURL=NavBar.module.css.map */